div[class=App] {
    text-align: center;
}

form {
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 40px 0;
    border: 3px solid black;
}

h2 {
    margin: 0;
}

div[class=container] {
    width: 100%;
    margin: 0 auto;
}

div[class=input_container] {
    margin: 0 auto;
    padding: 5px;
    width: 80%;
}

label {
    display: inline-block;
    width: 20%;
    text-align: left;
}

input[type=text], input[type=password] {
    display: inline-block;
    width: 40%;
    border: 1px solid #ccc;
}

button:hover {
    opacity: 0.8;
}
